{% extends 'base.html' %}

{% block content %}
	<div class="d-flex flex-wrap justify-content-center">
	{% for paste in pastes %}
		<div class="card col-sm-5 m-2">
			<div class="card-body">
				<h3 class="card-title">{{ paste.title }}</h3>
				<a href="{% url 'paste' paste.id %}" class="btn btn-dark float-right">read more</a>
				<h4>{{ paste.date }}</h4>
				<p class="card-text">{{ paste.content|truncatechars:32 }}</p>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}
