{% extends 'base.html' %}

{% block content %}
	<form action="{% url 'new' %}" method="post">
		<div class="form-group">
			<label for="title-input" class="col-form-label">Title:</label>
			<input type="text" name="title" class="form-text" id="title-input" value="unnamed paste">
		</div>
		<div class="form-group">
			<label for="data-input" class="col-form-label">Your paste:</label>
			<textarea name="data" rows="5" cols="80" class="form-text" id="data-input"></textarea>
		</div>
		<button type="submit" class="btn btn-dark">submit</button>
	</form>
{% endblock %}
