{% extends 'base.html' %}

{% block content %}
	{% for paste in pastes %}
		<h3>{{ paste.title }}</h3>
		<h4>{{ paste.date }}</h4>
		<article>
			<pre class="p-3" id="pre-content">{{ paste.content }}</pre>
			<label for="raw-content">Raw content:</label>
			<textarea cols="80" class="form-text" id="raw-content" readonly>{{ paste.content }}</textarea>
		</article>
	{% endfor %}
{% endblock %}

{% block scripts %}
	<script>
		el = document.getElementById("pre-content");
		arr = el.textContent.split("\n");
		res = Array(); al = String(arr.length-1).length;
		arr.forEach((v, i) => (res.push(" ".repeat(al-String(i).length) + String(i) + "  " + v)));
		el.textContent = res.join("\n");
	</script>
{% endblock %}
