:root{
	--colrA: #ffebe5;
	--colrB: #ffc3b3;
	--colrC: #2d3933;
	--colrD: #4f645a;
}
body
{
	color: var(--colrC);
	background-color: var(--colrB);
}
a, a:hover
{
	color: var(--colrC);
}
img
{
	width: 90%;
}
p
{
	text-align: justify;
}
pre
{
	color: var(--colrC);
}
textarea
{
	max-width: 100%;
}
h1
{
	font-weight: bold;
}
h4
{
	font-size: 80%;
}
th, td {
	padding-left: 1em;
	padding-right: 1em;
}
.wrapper
{
	background-color: var(--colrA);
	padding: 1%
}
.divider
{

	width: 100%;
	padding: 2px;
	background-color: var(--colrD);
}
